.map-container{
    width: 95%;
    margin: 5em auto;
    display: flex;
    flex-direction: row;
}

.btnMap{
    margin: 10px;
}

.map{
    width: 70%;
    height: 600px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.stations{
    width: 30%;
    background-color: #ff0000;
    height: 100%;
}

.map,
.infostations,
.signature{
    margin: 0;
    padding: 0;
}

.infostations{
    height: 350px;
}

.btnInfos{
    border-radius: 5px;
}

.elemFormInvisible1,
.elemFormInvisible2,
.bookingInvisible{
    display: none;
}

.elemFormVisible1,
.elemFormVisible2,
.bookingVisible{
    display: block;
}

.noBikes{
    display: none;
}

.nobikesVisible{
    display: block;
}

.bolt{
    font-weight: 800;
}

.form label,
.form input{
    margin: 0.25em 0.75em;
}

.signature{
    height: 200px;
    background-color: rgb(114, 189, 219);
}