.map-container{
    width: 95%;
    margin: 5em auto;
    display: flex;
    flex-direction: row;
}

.btnMap{
    margin: 10px;
}

.map{
    width: 70%;
    height: 600px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.stations{
    width: 30%;
    background-color: #ff0000;
    height: 100%;
}

.map,
.infostations,
.signature{
    margin: 0;
    padding: 0;
}

.infostations{
    height: 350px;
}

.btnInfos{
    border-radius: 5px;
}

/* .infostations form{
    display: none;
} */

.infostations form .elemForm,
.infostations form .booking{
    margin: 0.25em;
}

.signature{
    height: 200px;
    background-color: rgb(114, 189, 219);
}